@import url('https://fonts.googleapis.com/css?family=Overlock|Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  max-wodth: 100%;
}

#interactive {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -999;
}
h1 {
  padding: 40px;
  margin-left: 10px;
  font-family: 'Unica One', cursive;
  font-size: 50px;
  font-weight: lighter;
  color: black;
}
h2 {
  font-family: 'Unica One', cursive;
  padding: 40px;
  margin: 0px 40px 20px 40px;
  font-weight: lighter;
  background-color: white;
  background-clip:border-box;
  font-size: 30px;
}
p {
  padding: 40px;
  margin: -80px 40px 20px 40px;
  background-color: white;
  background-clip:border-box;
  color: grey;
  line-height: 30px;
  font-family: 'Overlock', cursive;
  font-size: 18px;
}
ul {
  font-family: 'Unica One', cursive;
  padding: 45px;
  float: right;
  margin-top: -150px;
  font-size: 18px;
  font-weight: lighter;
  font-stretch: semi-expanded;
}
ul li {
  float: left;
  padding: 20px;
  list-style-type: none;
  color: black;
}
.container {
  position: relative;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 90%;
  opacity: 0;
  transition: .5s ease;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
.container:hover .overlay {
  opacity: .8;
}
.text {
  color: grey;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Unica One', cursive;
  font-stretch: expanded;
}
.center {
  display: block;
  width: 90%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
}
.work {
  display: block;
  width: 80%;
  height: 10%;
  margin-left: auto;
  margin-right: auto;
  border: 10px white;
}
