@import url('https://fonts.googleapis.com/css?family=Overlock|Unica+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html {
  margin: 0;
  padding: 0;
  background-image: url('assets/pinstripe.jpg');
  background-size: 10%;
  overflow-x: hidden;
  max-width: 100%;
}

body {
  font-size: 100%;
}

canvas {
  display: block;
}

@font-face {
  font-family: Rye;
  src: url('fonts/Rye-Regular.ttf')
}

/* -----------SCROLLBAR--------------- */

/* width */
::-webkit-scrollbar {
  width: 7px;
  background-color: black;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8a5b00;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6e4800;
}

/* -------------------INDEX------------------- */
.indexbg {
  background-color: #b57c00;
  margin: 16% 40%;
  padding: 10px;
  border: 3px double black;
  position: relative;
  z-index: 1;
  text-align: center;
}

.indexname {
  font-family: 'Unica One', cursive;
  color: black;
  font-size: 2em;
  letter-spacing: 0.2em;
  border: 0.17em double black;
  /* padding: 2px 5px 4px 12px; */
  text-align: center;
  /* margin: 0 32.2% 0 30%; */
}

.position {
  float: none;
  position: relative;
  margin-top: 0.8em;
  padding: 0;
}

.indexpages {
  font-family: 'Unica One', cursive;
  color: black;
  font-size: 1em;
  letter-spacing: 0.2em;
  margin-bottom: 1em;
  float: none;
}

.indexeffect:hover {
  color: white;
  transition: .2s ease;
  background-color: black;
  padding: .2em .2em .2em .4em;
}

/* -------------------ALL PAGES------------------- */
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #b57c00;
  padding: 1px 0;
  margin: -8px -10px 0 -10px;
  /* margin: -0.5% -0.5% 0 -0.5%; */
  z-index: 1
}

.hrtop {
  /* background-color: black; */
  border-bottom: none;
  height: 1px;
  border-top: dashed 0.05em black;
}

.namespacing {
  margin-top: 0.6em;
  margin-left: 6.5em;
}

#name {
  font-family: 'Unica One', cursive;
  color: black;
  /* -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: black; */
  font-size: 0.9em;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-align: left;
  border: 0.17em double black;
  /* border-radius: 15px; */
  padding: 2px 5px 4px 12px;
  /* background-image: url(assets/gold-fabric-texture-background.jpg);
  background-size: 50%; */
  /* background-color: #242424; */
  /* background-color: rgba(209, 139, 0, 0.8); */
}

ul {
  font-family: 'Unica One', cursive;
  padding: 0 13em;
  float: right;
  margin-top: -45px;
  font-size: 1em;
}

ul li {
  float: left;
  padding: 0 15px;
  list-style-type: none;
}

ul li a {
  color: white;
  text-decoration: none;
}

.effect:hover {
  color: #2b2b2b;
  transition: .3s ease;
}

::selection {
  background: rgb(209, 139, 0);
  color: white;
}

p {
  color: black;
  font-family: monospace;
}

.backgroundcolor {
  background-color: #e6e6e6;
  margin: 3em 12em;
  padding: 10px 40px 50px 40px;
}

.slideshowtopspace {
  margin-top: 60px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a1a1a;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 3px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #b57c00;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #363636;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* -----------------FULLSCREEN SLIDESHOW----------------- */
.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow:after {
  content: '';
  background: transparent url(assets/pinstripepng.png) repeat top left;
  background-size: 10%;
}

.cb-slideshow li span {
  width: 100%;
  height: 90%;
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 100px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 16s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url('https://i.imgur.com/cdHCemp.jpg')
}

.cb-slideshow li:nth-child(2) span {
  background-image: url('https://i.imgur.com/44F2a9A.jpg');
  animation-delay: 4s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url('https://i.imgur.com/6sqLTQQ.jpg');
  animation-delay: 8s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url('https://i.imgur.com/4vG4QvX.jpg');
  animation-delay: 12s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  12.5% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  25% {
    opacity: 1
  }

  37.5% {
    opacity: 0
  }

  100% {
    opacity: 0
  }

  /* 4 images with 4sec each so 4/16 = 25%; 25/2 to get transition opacity */
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

/* ---------------------FLEX BOX GALLERY--------------------- */
.gallerytopspace {
  margin-top: 3em;
}

.gallerybottomspace {
  margin-top: 3em;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 10em;
}

/* Create four(in my case,three) equal columns that sits next to each other */
.column {
  flex: 32.5%;
  max-width: 32.5%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
/* @media screen and (max-width: 1200px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
} */
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}

/* ---------------------GALLERY CAPTIONING--------------------- */
.container {
  position: relative;
  width: 100%;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: calc(100%-4px);
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: #a36c00;
  z-index: 0;
  margin-top: 8px;
}

.container:hover .overlay {
  opacity: .85;
}

.caption {
  color: black;
  font-size: 1.7em;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Unica One', cursive;
  z-index: 0;
}

/* --------------------------ART PAGES-------------------------- */
* {
  box-sizing: border-box;
}

.artcolumn {
  float: left;
  padding: 10px;
}

.left {
  width: 75%;
}

.right {
  width: 25%;
}

/* clear floats after the columns */
.artrow:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1000px) {
  .artcolumn {
    width: 100%;
  }
}

.img {
  width: 100%;
}

.imgtopspace {
  margin-top: 0.8em;
}

@media screen and (min-width: 1500px) {
  .descripsticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
    padding: 1px 0;
  }
}

/* ------------------------TEXT------------------------- */

h2 {
  font-family: 'Unica One', cursive;
  font-size: 1.5em;
}

h3 {
  font-family: 'Unica One', cursive;
  font-size: 1em
}

p {
  line-height: 18px;
  font-size: 1em;
}

.buttonsticky {
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
}

.buttonstyle {
  text-decoration: none;
  color: black;
  font-family: 'Unica One', cursive;
}

.buttonstyle:hover {
  text-decoration: none;
  color: #a36c00;
  font-family: 'Unica One', cursive;
  transition: .2s ease;
}

.previous {
  float: left;
  margin-left: 5%;
  background-color: #a36c00;
  border-color: black;
  font-size: 30px;
  padding: 0 9px;
}

.next {
  float: right;
  margin-right: 5%;
  background-color: #a36c00;
  border-color: black;
  font-size: 30px;
  padding: 0 9px;
}

.previous:hover {
  background-color: black;
  color: white;
  border-color: #a36c00;
  transition: .3s ease;
}

.next:hover {
  background-color: black;
  color: white;
  border-color: #a36c00;
  transition: .3s ease;
}

/* ----------------------------------ABOUT PAGE------------------------------ */

.aboutpdfs {
  border-radius: 0%;
  background-color: #a36c00;
  border-color: black;
  font-size: 1.2em;
  padding: 0 9px;
}

.aboutpdfs:hover {
  background-color: black;
  color: white;
  border-color: #a36c00;
  transition: .3s ease;
}
